<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>template</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="age.css">
    <script type="text/javascript" src="chart.min.js"></script>
    <script type="text/javascript" src="age.js"></script>
  </head>
  <body ng-app ng-controller="age">
    <div id="content">
      <h3>村里長年齡層分佈</h3>
      <div class="text-right">
        <select ng-model="type" class="form-control">
          <option value="1">分組顯示</option>
          <option value="2">全部顯示</option>
        </select>
      </div>
      <canvas id="chart1"></canvas>
      <div ng-repeat="i in [0,1,2,3,4,5]" ng-attr-style="background:{{color(i)}}" class="cell">{{i * 10 + 25}} ~ {{i * 10 + 35}}</div>
    </div>
  </body>
</html>