doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="chart.min.js")
    script(type="text/javascript",src="topojson.js")
    script(type="text/javascript",src="index.js")
  body(ng-app,ng-controller="main")
    #content
      h3 村里長年齡層分佈
      canvas#chart1
      h3 村里長政黨分佈
      svg#twsvg(width="100%",height="1600px",viewBox="0 0 800 1600",preserveAspectRatio="xMidYMid")
